<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- ABOUT --}}
    <section id="about">
        <div class="contentContainerThird">
            <h1 class="pageTitleSecond">About Company</h1>
            <div class="row">
                <div class="col-24">
                    <h2>Park Cinema is the largest national cinema chain in Azerbaijan. Our first theater opened in Park
                        Boulevard in 2010. All theaters are built, refurbished and equipped according to highest
                        industry standards and have prime locations in popular shopping centers such as Park Boulevard,
                        MetroPark, Zagulba Mall, and Baku’s new symbol - Flame Towers.</h2>
                    <div class="p-items">
                        <p>During summer months, in Amburan Beach Club Park Cinema operates the only open-air cinema in
                            Baku.</p>
                        <p>Park Cinema in Flame Towers is the only cinema in Azerbaijan with IMAX auditorium – the
                            largest screen in Azerbaijan with “gold standard” of movie experience. We also demonstrate
                            fascinating IMAX educational content.</p>
                        <p>Large number of screens allows us to provide wide selection of movies to match any age and
                            taste from Hollywood premiers dubbed and in original language to New Azerbaijani Cinema.
                            Park Cinema is very active in social networks Instagram and Facebook in order to promote
                            movie-going as a modern entertainment alternative for youth & family. We regularly host
                            social and charity events.</p>
                        <p>Park Cinema is about passion for movies, love of friends & family and joy of life!</p>
                    </div>
                    <div class="last-about">
                        <p>FLAME CINEMA MMC</p>
                        <p>AZ1060, Bakı ş-ri, Nizami r-nu AZƏR MANAFOV ev.14, m.54</p>
                        <p>AZ1006, Bakı ş-ri, Səbail r-nu, M.Hüseyn küçəsi, 1A</p>
                    </div>
                    <div class="aboutMiniNav row">
                        <div class="col-sm-8 col-12">
                            <a href="terms&conditions.html" class="buttonContact">Terms & Conditions</a>
                        </div>
                        <div class="col-sm-8 col-12">
                            <a href="contact.html" class="buttonContact">Contacts</a>
                        </div>
                        <div class="col-sm-8 col-24">
                            <a href="advertising.html" class="buttonContact">Advertising</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>