<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- ADVERTIGING --}}
    <section id="advertising">
        <div class="contentContainerThird">
            <h1 class="pageTitleSecond">Advertising</h1>
            <div class="row">
                <div class="col-24">
                    <h2>Advertisements in cinemas as one of the most effective advertisement types.</h2>
                    <div class="first-img">
                        <img src="../assets/image 19.svg" alt="">
                    </div>
                    <p class="first-img-p">Park Cinema is the biggest national chain of the modern and multiplex cinemas
                        in Azerbaijan.
                        Today our cinemas are located in the famous shopping and entertainment centers such as Park
                        Bulvar, Metro Park, Zagulba Mall, Flame Towers. Besides, the only outdoor cinema in Azerbaijan
                        located at the territory of beach club Amburan is also managed by Park Cinema. As well as, 3
                        cinemas have been opened in such regions as Masalli, Quba, and Mingachevir in 2018. Each of
                        these cinemas has a number of opportunities for successful placement of your advertisement.</p>
                </div>
                <div class="col-mm-12 col-24">
                    <div class="second-img">
                        <img src="../assets/image 20.svg" alt="">
                    </div>
                </div>
                <div class="col-mm-12 col-24">
                    <h3>There are some indisputable advantages in the placement of an advertisement in our cinemas:</h3>
                    <ul>
                        <li>– Precise targeting effect and high-quality contact.</li>
                        <li>– In the atmosphere of entertainment, advertisement reception appears on an emotional level,
                            and that means the increased memorability of a brand.</li>
                        <li> – The selection of the cinema upon the needful criteria, as well as the precise selection
                            of movie for the advertisement placement, can ideally coincide with the audience of the
                            advertised product with the audience in the cinema hall.</li>
                        <li>– The impact and spectacularity are completely incomparable with television. A bright and
                            dynamic commercial on the big screen provokes an effect ten times as much than television
                            broadcasting. The memorability of the commercial on the next day after watching the film is
                            50-60 percent and even more.</li>
                        <li> – Cinemas are one of the best areas for marketing among the youth audience, with the most
                            financially secured part of it.</li>
                        <li>– There is an opportunity for complex advertisement: commercials before the movie starts,
                            monitors in the lobby, posters, light boxes, 3D glasses, branding of the hall etc.</li>
                    </ul>
                    <a class="download-pdf-advertising" href="" download="">Download presentation (6.5 Mb, Pdf)</a>
                </div>
                <div class="col-24 d-flex flex-column align-items-center">
                    <h3 class="last-text">
                        For advertisement placement in cinema
                    </h3>
                    <div class="tel-advertising">
                        <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.03333 12.9833C8.43333 17.7 12.3 21.55 17.0167 23.9667L20.6833 20.3C21.1333 19.85 21.8 19.7 22.3833 19.9C24.25 20.5167 26.2667 20.85 28.3333 20.85C29.25 20.85 30 21.6 30 22.5167V28.3333C30 29.25 29.25 30 28.3333 30C12.6833 30 0 17.3167 0 1.66667C0 0.75 0.75 0 1.66667 0H7.5C8.41667 0 9.16667 0.75 9.16667 1.66667C9.16667 3.75 9.5 5.75 10.1167 7.61667C10.3 8.2 10.1667 8.85 9.7 9.31667L6.03333 12.9833Z"
                                fill="#E2EDFF" />
                        </svg>
                        <p>(+99455) 330 13 31</p>
                    </div>
                    <a class="contact-mail" href="">kino@parkcinema.az</a>
                </div>
            </div>
            <div class="aboutMiniNav row">
                <div class="col-sm-8 col-12">
                    <a href="about.html" class="buttonContact">About us</a>
                </div>
                <div class="col-sm-8 col-12">
                    <a href="contact.html" class="buttonContact">Contacts</a>
                </div>
                <div class="col-sm-8 col-24">
                    <a href="advertising.html" class="buttonContact">Advertising</a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>