<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- SCHEDULE --}}
    <section id="campaign">
        <div class="contentCampaign">
            <div class="top">
                <img src="../assets/image 31.png" alt="">
            </div>
            <div class="main">
                <h1>Ulduzum</h1>
                <div class="line first-line">
                    <h3>Buy 1 ticket and get 1 more ticket for FREE in “Park Cinema”!</h3>
                    <p>Ulduzum users! Do you like to go to cinema with friends or closed ones? Now you have good
                        opportunity to watch any movie at “Park Cinema” with any person you like! Every Thursday buy 1
                        ticket and get 2nd ticker for FREE with Ulduzum code at “Park Cinema” cash-desk or website!</p>
                </div>
                <div class="line second-line">
                    <h3>Note: this offer is not applied to tickets for “Family” and “Kids” tariff in Metropark and to
                        VIP rooms.</h3>
                    <h3>The campaign is available until 23:59</h3>
                </div>
                <div class="line third-line">
                    <h4>Addresses:</h4>
                    <ul>
                        <li>Neftchiler ave 78, Park Bulvar SC</li>
                        <li>44 Tebriz str., Metropark SC, 6th floor</li>
                        <li>Park Zaqulba Trade Center, Buzovna village</li>
                    </ul>
                    <p>Joining Ulduzum program is very easy: just SMS “1” to 5555. To take benefit from Ulduzum program
                        send *5555#YES or SMS “*” to 5555, or use Ulduzum application and get 4-figured code. The cost
                        of the SMS is 3 qepiks. Submit this code to cashier and get a second ticket for free.</p>
                </div>
                <div class="line fourth-line">
                    <h3>For more detailed information SMS 770 to 5555 for free.</h3>
                    <h3>Click here to download Ulduzum App.</h3>
                </div>
                <div class="links">
                    <a href="" style="background-image: url('../assets/App Store.svg');"></a>
                    <a href="" style="background-image: url('assets/Google Play.svg');"></a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>