<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- CINEMAS --}}
    <section id="cinemas">
        <div class="contentContainerSecond">
            <h1 class="pageTitle">Cinemas</h1>
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-8 col-md-12 col-24">
                    <a href="cinema.html" class="cinemaCard firstCard">
                        <div class="topCinemaCard">
                            <img src="../assets/image 49.svg" alt="">
                        </div>
                        <div class="bottomCinemaCard">
                            <div class="firstSide">
                                <h5>Park Bulvar</h5>
                                <div>
                                    <img src="../assets/mdi_access_time.svg" alt="">
                                    <p>10:00 – 01:00</p>
                                </div>
                            </div>
                            <div class="secondSide">
                                <div class="line">
                                    <img src="../assets/Vector.svg" alt="">
                                    <p>Neftçilər pr-ti 78,<br> Park Bulvar Əyləncə Mərkəzi</p>
                                </div>
                                <div class="line">
                                    <img src="../assets/Vector (1).svg" alt="">
                                    <p>+994 12 598 74 14, 119 </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xxl-6 col-xl-8 col-md-12 col-24">
                    <a href="" class="cinemaCard secondCard">
                        <div class="topCinemaCard">
                            <img src="../assets/image 50.svg" alt="">
                        </div>
                        <div class="bottomCinemaCard">
                            <div class="firstSide">
                                <h5>Metro Park</h5>
                                <div>
                                    <img src="../assets/mdi_access_time.svg" alt="">
                                    <p>10:00 – 01:00</p>
                                </div>
                            </div>
                            <div class="secondSide">
                                <div class="line">
                                    <img src="../assets/Vector.svg" alt="">
                                    <p>Neftçilər pr-ti 78,<br> Park Bulvar Əyləncə Mərkəzi</p>
                                </div>
                                <div class="line">
                                    <img src="../assets/Vector (1).svg" alt="">
                                    <p>+994 12 598 74 14, 119 </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xxl-6 col-xl-8 col-md-12 col-24">
                    <a href="" class="cinemaCard thirdCard">
                        <div class="topCinemaCard">
                            <img src="../assets/image 51.svg" alt="">
                        </div>
                        <div class="bottomCinemaCard">
                            <div class="firstSide">
                                <h5>Flame Towers</h5>
                                <div>
                                    <img src="../assets/mdi_access_time.svg" alt="">
                                    <p>10:00 – 01:00</p>
                                </div>
                            </div>
                            <div class="secondSide">
                                <div class="line">
                                    <img src="../assets/Vector.svg" alt="">
                                    <p>Neftçilər pr-ti 78,<br> Park Bulvar Əyləncə Mərkəzi</p>
                                </div>
                                <div class="line">
                                    <img src="../assets/Vector (1).svg" alt="">
                                    <p>+994 12 598 74 14, 119 </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xxl-6 col-xl-12 col-md-12 col-24">
                    <a href="" class="cinemaCard fourthCard">
                        <div class="topCinemaCard">
                            <img src="../assets/image 52.svg" alt="">
                        </div>
                        <div class="bottomCinemaCard">
                            <div class="firstSide">
                                <h5>Zaqulba Mall</h5>
                                <div>
                                    <img src="../assets/mdi_access_time.svg" alt="">
                                    <p>10:00 – 01:00</p>
                                </div>
                            </div>
                            <div class="secondSide">
                                <div class="line">
                                    <img src="../assets/Vector.svg" alt="">
                                    <p>Neftçilər pr-ti 78,<br> Park Bulvar Əyləncə Mərkəzi</p>
                                </div>
                                <div class="line">
                                    <img src="../assets/Vector (1).svg" alt="">
                                    <p>+994 12 598 74 14, 119 </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>