<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark cinema-page-body">

    {{> common/header }}

    {{!-- CINEMA --}}
    <section id="cinema">
        <div class="contentContainerSecond">
            <div class="inner row">
                {{!-- //sidebar --}}
                <div class="col-lg-6 col-24">
                    <div class="sidebar">
                        {{!-- header --}}
                        <div class="header">
                            <h1>Park Bulvar</h1>
                        </div>
                        {{!-- body --}}
                        <div class="body">
                            <div class="body-main-img">
                                <img src="../assets/image 50.svg" alt="">
                                <div class="overlay">
                                    <div class="time">
                                        <img src="../assets/Timer.svg" alt="">
                                        <p>10:00 – 01:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="information">
                                <div class="contact">
                                    <div class="line">
                                        <svg viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.99935 0.666626C2.77435 0.666626 0.166016 3.27496 0.166016 6.49996C0.166016 10.875 5.99935 17.3333 5.99935 17.3333C5.99935 17.3333 11.8327 10.875 11.8327 6.49996C11.8327 3.27496 9.22435 0.666626 5.99935 0.666626ZM5.99935 8.58329C4.84935 8.58329 3.91602 7.64996 3.91602 6.49996C3.91602 5.34996 4.84935 4.41663 5.99935 4.41663C7.14935 4.41663 8.08268 5.34996 8.08268 6.49996C8.08268 7.64996 7.14935 8.58329 5.99935 8.58329Z"
                                                fill="#BAC3D4" />
                                        </svg>
                                        <p>
                                            Neftçilər pr-ti 78, Park Bulvar Əyləncə Mərkəzi
                                        </p>
                                    </div>
                                    <div class="line">
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3.51667 6.99167C4.71667 9.35 6.65 11.275 9.00833 12.4833L10.8417 10.65C11.0667 10.425 11.4 10.35 11.6917 10.45C12.625 10.7583 13.6333 10.925 14.6667 10.925C15.125 10.925 15.5 11.3 15.5 11.7583V14.6667C15.5 15.125 15.125 15.5 14.6667 15.5C6.84167 15.5 0.5 9.15833 0.5 1.33333C0.5 0.875 0.875 0.5 1.33333 0.5H4.25C4.70833 0.5 5.08333 0.875 5.08333 1.33333C5.08333 2.375 5.25 3.375 5.55833 4.30833C5.65 4.6 5.58333 4.925 5.35 5.15833L3.51667 6.99167Z"
                                                fill="#BAC3D4" />
                                        </svg>
                                        <p> +994 12 598 74 14</p>
                                    </div>
                                    <div class="line">
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3.51667 6.99167C4.71667 9.35 6.65 11.275 9.00833 12.4833L10.8417 10.65C11.0667 10.425 11.4 10.35 11.6917 10.45C12.625 10.7583 13.6333 10.925 14.6667 10.925C15.125 10.925 15.5 11.3 15.5 11.7583V14.6667C15.5 15.125 15.125 15.5 14.6667 15.5C6.84167 15.5 0.5 9.15833 0.5 1.33333C0.5 0.875 0.875 0.5 1.33333 0.5H4.25C4.70833 0.5 5.08333 0.875 5.08333 1.33333C5.08333 2.375 5.25 3.375 5.55833 4.30833C5.65 4.6 5.58333 4.925 5.35 5.15833L3.51667 6.99167Z"
                                                fill="#BAC3D4" />
                                        </svg>
                                        <p>119</p>
                                    </div>
                                </div>
                                <div class="button">
                                    <button class="buttonNormal">
                                        <svg viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.5 0C3.63 0 0.5 3.13 0.5 7C0.5 12.25 7.5 20 7.5 20C7.5 20 14.5 12.25 14.5 7C14.5 3.13 11.37 0 7.5 0ZM7.5 9.5C6.12 9.5 5 8.38 5 7C5 5.62 6.12 4.5 7.5 4.5C8.88 4.5 10 5.62 10 7C10 8.38 8.88 9.5 7.5 9.5Z"
                                                fill="#BAC3D4" />
                                        </svg>
                                        <p>location on map</p>
                                    </button>
                                </div>
                                <div class="gallery-items">
                                    <div class="gallery-header">
                                        <h6>Gallery</h6>
                                        <a href="" class="seeall">
                                            <p>See all</p>
                                            <svg viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8.50353 14.6L15.8008 7.69999L8.50596 0.799978L7.64668 1.61072L13.4745 7.12499L0.200785 7.12498L0.200785 8.27496L13.4745 8.27497L7.64425 13.7915L8.50353 14.6Z"
                                                    fill="#566178" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="gallery w-100">
                                        <div class="left-side">
                                            <img src="../assets/image 13.svg" alt="">
                                        </div>
                                        <div class="right-side">
                                            <div class="first right-side-img">
                                                <img src="../assets/image 15.svg" alt="">
                                            </div>
                                            <div class="second right-side-img">
                                                <img src="../assets/image 17.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- main --}}
                <div class="col-lg-18 col-24">
                    <div class="main">
                        {{!-- tab header --}}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#schedule" role="tab"
                                    aria-controls="profile" aria-selected="false">Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#halls" role="tab"
                                    aria-controls="contact" aria-selected="false">Halls</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#campaigns" role="tab"
                                    aria-controls="contact" aria-selected="false">Campaigns</a>
                            </li>
                        </ul>
                        {{!-- tab body --}}
                        <div class="tab-content" id="myTabContent">
                            {{!-- tab pane about --}}
                            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="home-tab">
                                <div class="about-content">
                                    <h1>Park Bulvar</h1>
                                    <p>The first and the most popular cinema of the network was recognized as a leader
                                        in attendance in Azerbaijan, according to official figures of the worldwide film
                                        studios and distribution companies as «Universal Pictures», "20th century Fox",
                                        "Warner Bros.", "Sony", "Disney", "Bazeleves", "Inter Film" etc. Cinema is
                                        located on the fourth floor of Park Bulvar shopping center, has 6 halls
                                        (including VIP) with sitting capacity 789 seats and 3 bars (including VIP bar).
                                        The cinema is equipped with Dolby Digital sound system, uses RealD 3D (the only
                                        in Azerbaijan) recognized by international experts as the best 3D technology,
                                        and uses high quality concave screens coated with silver for better reflection
                                        of 3D intensity</p>
                                </div>
                            </div>
                            {{!-- tab pane schedule --}}
                            <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="profile-tab">
                                <section id="schedule">
                                    <div id="pageFirstStep">
                                        {{!-- date --}}
                                        <div class="date">
                                            <div id="dateSchedule" class="dateInner">
                                                <div class="owl-carousel owl-theme">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="movie-date"
                                                            id="d1" value="1" checked>
                                                        <label class="form-check-label" for="d1">
                                                            <p>Today</p>
                                                            <span>DAY</span>
                                                        </label>
                                                    </div>

                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="movie-date"
                                                            id="d2" value="2">
                                                        <label class="form-check-label" for="d2">
                                                            <p>Mar 20</p>
                                                            <span>DAY</span>
                                                        </label>
                                                    </div>

                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="movie-date"
                                                            id="d3" value="3">
                                                        <label class="form-check-label" for="d3">
                                                            <p>Mar 21</p>
                                                            <span>DAY</span>
                                                        </label>
                                                    </div>

                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="movie-date"
                                                            id="d4" value="4">
                                                        <label class="form-check-label" for="d4">
                                                            <p>Mar 22</p>
                                                            <span>DAY</span>
                                                        </label>
                                                    </div>

                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="movie-date"
                                                            id="d5" value="5">
                                                        <label class="form-check-label" for="d5">
                                                            <p>Mar 23</p>
                                                            <span>DAY</span>
                                                        </label>
                                                    </div>

                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="movie-date"
                                                            id="d55" value="5">
                                                        <label class="form-check-label" for="d55">
                                                            <p>Mar 24</p>
                                                            <span>DAY</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- filter advanced --}}
                                        <div class="categoryFilter">
                                            <div id="sessionInner" class="sessionInner">
                                                <div class="line">
                                                    <div class="first">
                                                        <img src="../assets/formats.svg" alt="">
                                                        <span>Formats</span>
                                                    </div>
                                                    <div class="cBox">
                                                        <div class="form-check all">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="aLL" value="4" checked>
                                                            <label class="form-check-label all" for="aLL">
                                                                <p>ALL</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="sessionBar desk-version">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="permanet" value="4">
                                                            <label class="form-check-label" for="permanet">
                                                                <p>2D</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="temporary" value="5">
                                                            <label class="form-check-label" for="temporary">
                                                                <p>3D</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="imax" value="5">
                                                            <label class="form-check-label" for="imax">
                                                                <p>IMAX</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="dolby" value="5">
                                                            <label class="form-check-label" for="dolby">
                                                                <p>DOLBY</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="laser" value="5">
                                                            <label class="form-check-label" for="laser">
                                                                <p>LASER</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line">
                                                    <div class="first">
                                                        <img src="../assets/languages.svg" alt="">
                                                        <span>Languages</span>
                                                    </div>
                                                    <div class="cBox">
                                                        <div class="form-check all">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="alllang" value="4" checked>
                                                            <label class="form-check-label all" for="alllang">
                                                                <p>ALL</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="sessionBar desk-version">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="azerbaijan" value="4">
                                                            <label class="form-check-label" for="azerbaijan">
                                                                <p>AZERBAIJAN</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="russian" value="5">
                                                            <label class="form-check-label" for="russian">
                                                                <p>RUSSIAN</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="english" value="5">
                                                            <label class="form-check-label" for="english">
                                                                <p>ENGLISH</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line">
                                                    <div class="first">
                                                        <img src="../assets/subtitles.svg" alt="">
                                                        <span>Subtitles</span>
                                                    </div>
                                                    <div class="cBox">
                                                        <div class="form-check all">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="alllan" value="4" checked>
                                                            <label class="form-check-label all" for="alllan">
                                                                <p>ALL</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="sessionBar desk-version">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="aze" value="4">
                                                            <label class="form-check-label" for="aze">
                                                                <p>AZE</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="rus" value="5">
                                                            <label class="form-check-label" for="rus">
                                                                <p>RUS</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="eng" value="5">
                                                            <label class="form-check-label" for="eng">
                                                                <p>ENG</p>
                                                            </label>
                                                        </div>

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="movie-date" id="turk" value="5">
                                                            <label class="form-check-label" for="turk">
                                                                <p>TURK</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- advanced search --}}
                                        <div class="advanced-search">
                                            <div class="inner">
                                                <h3>Advanced search</h3>
                                                <svg viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0 1.50416L1.27593 0L7.5 5.39074L13.7241 0L15 1.50416L7.5 8L0 1.50416Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filterMobile">
                                            <div class="left">
                                                <h3>Today</h3>
                                                <p>All cinemas</p>
                                            </div>
                                            <div class="right filterButton">
                                                <img src="../assets/Filter.svg" alt="">
                                            </div>
                                        </div>
                                        {{!-- INNER --}}
                                        <div class="row">
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                            <div class="col-xl-12 col-24">
                                                {{> section/schedule-card}}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            {{!-- tab pane halls --}}
                            <div class="tab-pane fade show active" id="halls" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <div class="halls-content">
                                    {{!-- hedaer --}}
                                    <ul class="nav nav-tabs desk-nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#zal1"
                                                role="tab" aria-controls="home" aria-selected="true">Zal 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#zal2"
                                                role="tab" aria-controls="profile" aria-selected="false">Zal 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#shehsu"
                                                role="tab" aria-controls="contact" aria-selected="false">Sheh su</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#unimiles"
                                                role="tab" aria-controls="contact" aria-selected="false">Uni Miles
                                                LaseR</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#zal6"
                                                role="tab" aria-controls="contact" aria-selected="false">Zal 6</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#vipkids"
                                                role="tab" aria-controls="contact" aria-selected="false">VIP Kids
                                                Hall</a>
                                        </li>
                                    </ul>
                                    {{!-- hedaer mobile--}}
                                    <ul class="nav nav-tabs mobile-nav-tabs owl-carousel owl-theme" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#zal1"
                                                role="tab" aria-controls="home" aria-selected="true">Zal 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#zal2"
                                                role="tab" aria-controls="profile" aria-selected="false">Zal 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#shehsu"
                                                role="tab" aria-controls="contact" aria-selected="false">Sheh su</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#unimiles"
                                                role="tab" aria-controls="contact" aria-selected="false">Uni Miles
                                                LaseR</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#zal6"
                                                role="tab" aria-controls="contact" aria-selected="false">Zal 6</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#vipkids"
                                                role="tab" aria-controls="contact" aria-selected="false">VIP Kids
                                                Hall</a>
                                        </li>
                                    </ul>
                                    {{!-- mini header items --}}
                                    <div class="mini-header-items">
                                        <div class="line">
                                            <p>Seats</p>
                                            <span>280</span>
                                        </div>
                                        <div class="line">
                                            <p>Acoustic system</p>
                                            <span>IMAX</span>
                                        </div>
                                        <div class="line">
                                            <p>3D</p>
                                            <span>IMAX 3D</span>
                                        </div>
                                        <div class="line">
                                            <p>Projectors</p>
                                            <span>IMAX</span>
                                        </div>
                                    </div>
                                    {{!-- body --}}
                                    <div class="tab-content body-halls-pane" id="myTabContent">
                                        <div class="tab-pane fade show active" id="zal1" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                            Zal 1
                                        </div>
                                        <div class="tab-pane fade" id="zal2" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                            zal2
                                        </div>
                                        <div class="tab-pane fade" id="shehsu" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                            sheh su
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- tab pane campaigns --}}
                            <div class="tab-pane fade" id="campaigns" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="campaigns-content">
                                    <div class="row justify-content-between w-100">
                                        <div class="col-lg-12 col-24">
                                            {{> section/campaigns-card}}
                                        </div>
                                        <div class="col-lg-12 col-24">
                                            {{> section/campaigns-card}}
                                        </div>
                                        <div class="col-lg-12 col-24">
                                            {{> section/campaigns-card}}
                                        </div>
                                        <div class="col-lg-12 col-24">
                                            {{> section/campaigns-card}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>