<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- COMBO MENU --}}
    <section id="comboMenu">
        <div class="contentContainerSecond">
            <h1 class="pageTitle">Combo menu</h1>
            <div class="row">
                <div class="col-xl-8 col-md-12 col-24">
                    {{> section/menu-card}}
                </div>
                <div class="col-xl-8 col-md-12 col-24">
                    {{> section/menu-card}}
                </div>
                <div class="col-xl-8 col-md-12 col-24">
                    {{> section/menu-card}}
                </div>
                <div class="col-xl-8 col-md-12 col-24">
                    {{> section/menu-card}}
                </div>
                <div class="col-xl-8 col-md-12 col-24">
                    {{> section/menu-card}}
                </div>
                <div class="col-xl-8 col-md-12 col-24">
                    {{> section/menu-card}}
                </div>
            </div>
        </div>
    </section>

</body>

</html>