<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- CONTACTS --}}
    <section id="contact">
        <div class="contentContainerThird">
            <h1 class="pageTitleSecond">Contact</h1>
            <div class="content">
                <div class="line">
                    <h3>Working hours</h3>
                    <p>From 10:00 until the last session without a break and rest</p>
                </div>
                <div class="line">
                    <h3>Our addresses</h3>
                    <div class="cinemasLine">
                        <div class="leftSIde">
                            <div class="top">
                                <img src="../assets/Vector.svg" alt="">
                                <p>Park Bulvar</p>
                            </div>
                            <div class="bottom">
                                <p>92 Neftçilər Prospekti, Azerbaijan Republic, Baku </p>
                            </div>
                        </div>
                        <div class="rightSIde">
                            <div class="top">
                                <img src="../assets/Vector.svg" alt="">
                                <p>Park Bulvar</p>
                            </div>
                            <div class="bottom">
                                <p>92 Neftçilər Prospekti, Azerbaijan Republic, Baku </p>
                            </div>
                        </div>
                    </div>
                    <div class="cinemasLine">
                        <div class="leftSIde">
                            <div class="top">
                                <img src="../assets/Vector.svg" alt="">
                                <p>Park Bulvar</p>
                            </div>
                            <div class="bottom">
                                <p>92 Neftçilər Prospekti, Azerbaijan Republic, Baku </p>
                            </div>
                        </div>
                        <div class="rightSIde">
                            <div class="top">
                                <img src="../assets/Vector.svg" alt="">
                                <p>Park Bulvar</p>
                            </div>
                            <div class="bottom">
                                <p>92 Neftçilər Prospekti, Azerbaijan Republic, Baku </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <h3>For order tickets</h3>
                    <div class="tel-contact">
                        <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.03333 12.9833C8.43333 17.7 12.3 21.55 17.0167 23.9667L20.6833 20.3C21.1333 19.85 21.8 19.7 22.3833 19.9C24.25 20.5167 26.2667 20.85 28.3333 20.85C29.25 20.85 30 21.6 30 22.5167V28.3333C30 29.25 29.25 30 28.3333 30C12.6833 30 0 17.3167 0 1.66667C0 0.75 0.75 0 1.66667 0H7.5C8.41667 0 9.16667 0.75 9.16667 1.66667C9.16667 3.75 9.5 5.75 10.1167 7.61667C10.3 8.2 10.1667 8.85 9.7 9.31667L6.03333 12.9833Z"
                                fill="#E2EDFF" />
                        </svg>
                        <p>(+994 12) 598 74 14</p>
                    </div>
                    <div class="tel-contact">
                        <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.03333 12.9833C8.43333 17.7 12.3 21.55 17.0167 23.9667L20.6833 20.3C21.1333 19.85 21.8 19.7 22.3833 19.9C24.25 20.5167 26.2667 20.85 28.3333 20.85C29.25 20.85 30 21.6 30 22.5167V28.3333C30 29.25 29.25 30 28.3333 30C12.6833 30 0 17.3167 0 1.66667C0 0.75 0.75 0 1.66667 0H7.5C8.41667 0 9.16667 0.75 9.16667 1.66667C9.16667 3.75 9.5 5.75 10.1167 7.61667C10.3 8.2 10.1667 8.85 9.7 9.31667L6.03333 12.9833Z"
                                fill="#E2EDFF" />
                        </svg>
                        <p>119</p>
                    </div>
                    <a href="">kino@parkcinema.az</a>
                </div>
                <div class="line">
                    <h3>For advertisement placement in cinema</h3>
                    <div class="tel-contact">
                        <img src="../assets/Vector (1).svg" alt="">
                        <p>(+99455) 330 13 31</p>
                    </div>
                    <a href="">kino@parkcinema.az</a>
                </div>
                <div class="line">
                    <h3>For your suggestions and comments please use the form below</h3>
                    <form action="" class="contactContainer">
                        <div class="inputs">
                            <div class="inputGroup">
                                <label for="">Full Name</label>
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="inputGroup">
                                <label for="">E-mail Adress</label>
                                <input type="text" placeholder="Your E-mail adress">
                            </div>
                        </div>
                        <div class="inputGroup message-contact-i-g">
                            <label for="">Message</label>
                            <textarea name="" id="" placeholder="Text.."></textarea>
                        </div>
                        <div class="buttonSend">
                            <button class="buttonRed">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="aboutMiniNav row">
                <div class="col-sm-8 col-12">
                    <a href="about.html" class="buttonContact">About us</a>
                </div>
                <div class="col-sm-8 col-12">
                    <a href="contact.html" class="buttonContact">Contacts</a>
                </div>
                <div class="col-sm-8 col-24">
                    <a href="advertising.html" class="buttonContact">Advertising</a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>