<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- REGISTER --}}
    <section id="register">
        <div class="inner">
            <h1 class="forgot-password">Did you forgot your password?</h1>
            <p class="p-first-item">Enter email address you’re using for your account below and we will send you a password reset link</p>
            <form action="">
                <div class="inputGroup">
                    <label for="">Email address</label>
                    <input type="text" placeholder="Number or email">
                </div>
                <div class="button reset-link">
                    <button class="buttonRed">Sent reset link</button>
                </div>
                <p class="text-center pb-4"><a href="">Back to log in</a></p>
            </form>
        </div>
    </section>

</body>

</html>