<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>

  {{> common/header }}

  {{> section/pop-up-vid-src}}

  {{!-- MAIN --}}
  <section id="main">
    <div class="main-top"
      style="background-image: url('../assets/treyler-filma-s-kiroy-naytli-miss-plohoe-povedenie-1.png');">
      <div class="main-bottom">
        <div class="owl-carousel owl-theme">
          <div class="owl-item-child" data-src="../assets/unnamed.jpg"
            data-video-src="https://www.youtube.com/watch?v=fl2r3Fwxz_o"><img src="../assets/Free.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/Artemis-Fowl-Movie-Premiering-on-Disney-Plus.jpg"
            data-video-src="https://www.youtube.com/watch?v=vOUVVDWdXbo"><img src="../assets/Artemis.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/unnamed.jpg"
            data-video-src="https://www.youtube.com/watch?v=gn5QmllRCn4"><img src="../assets/Mrs..svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/onwardheader.jpg"
            data-video-src="https://www.youtube.com/watch?v=fl2r3Fwxz_o">
            <img src="../assets/My.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/__5e87f483ad209.jpg"
            data-video-src="https://www.youtube.com/watch?v=vOUVVDWdXbo"><img src="../assets/Ward.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/Despicable-Me-3.jpg"
            data-video-src="https://www.youtube.com/watch?v=gn5QmllRCn4"><img src="../assets/Blood.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/ob_96c40c_109kox7wr83ezgljzvgfpo4esk1.jpg"
            data-video-src="https://www.youtube.com/watch?v=fl2r3Fwxz_o"><img src="../assets/Me3.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/treyler-filma-s-kiroy-naytli-miss-plohoe-povedenie-1.png"
            data-video-src="https://www.youtube.com/watch?v=vOUVVDWdXbo"><img src="../assets/Hozu.svg" alt="">
          </div>
          <div class="owl-item-child" data-src="../assets/ob_b67518_rmkhezl9zi2aueqp877cowutcks.jpg"
            data-video-src="https://www.youtube.com/watch?v=vOUVVDWdXbo"><img src="../assets/Believe.svg" alt=""></div>
        </div>
        <p class="centerTxt">
          Today in movie theaters
        </p>
      </div>
      <div class="overlayMainTop">
        <div class="innerOverlayMainTop">
          <div class="playButtonMobile">
            <div class="centerSideMainTop">
              <div class="playButton">
                <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_b)">
                    <circle cx="50" cy="50" r="40" fill-opacity="0.12" />
                  </g>
                  <path
                    d="M67.4432 49.5123C67.936 49.8268 67.936 50.5465 67.4432 50.8611L41.2303 67.5881C40.6978 67.9279 40 67.5454 40 66.9137L40 33.4596C40 32.8279 40.6978 32.4454 41.2304 32.7852L67.4432 49.5123Z" />
                  <defs>
                    <filter id="filter0_b" x="2" y="2" width="96" height="96" filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feGaussianBlur in="BackgroundImage" stdDeviation="4" />
                      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur" />
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape" />
                    </filter>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class="contentInner">
            <div class="leftSideMainTop">
              <div class="today">
                <span>Today</span>
              </div>
              <div class="miniTitleMainTop">
                <h2>Onward</h2>
                <span>6 +</span>
              </div>
              <div class="formatLangSub">
                <div class="left-side">
                  <div class="line">
                    <img src="../assets/Format-white.svg" alt="">
                    <p>Format</p>
                  </div>
                  <div class="line">
                     <img src="../assets/lang-white.svg" alt="">
                    <p>Language</p>
                  </div>
                  <div class="line">
                    <img src="../assets/Subtitle-white.svg" alt="">
                    <p>Subtitle</p>
                  </div>
                </div>
                <div class="right-side">
                  <div class="line">
                    <span>2D</span>
                    <span>3D</span>
                    <span>IMAX</span>
                    <span>DOBLY</span>
                    <span>LASER</span>
                  </div>
                  <div class="line">
                    <span>AZE</span>
                    <span>RUS</span>
                    <span>TURK</span>
                  </div>
                  <div class="line">
                    <span>2D</span>
                    <span>3D</span>
                    <span>IMAX</span>
                    <span>DOBLY</span>
                    <span>LASER</span>
                  </div>
                </div>
              </div>
              <a class="buttonNormal" href="buy-ticket.html">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z"
                    fill="#E2EDFF" />
                  <path d="M12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" fill="#E2EDFF" />
                </svg>
                <p>CHOOSE SESSION</p>
              </a>
            </div>
            <div class="centerSideMainTop">
              <div class="playButton">
                <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="">
                    <circle cx="50" cy="50" r="40" fill-opacity="0.12" />
                  </g>
                  <path
                    d="M67.4432 49.5123C67.936 49.8268 67.936 50.5465 67.4432 50.8611L41.2303 67.5881C40.6978 67.9279 40 67.5454 40 66.9137L40 33.4596C40 32.8279 40.6978 32.4454 41.2304 32.7852L67.4432 49.5123Z" />
                  <defs>
                    <filter id="filter0_b" x="2" y="2" width="96" height="96" filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feGaussianBlur in="BackgroundImage" stdDeviation="4" />
                      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur" />
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape" />
                    </filter>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="rightSideMainTop">
              <h3 class="nextSession">
                Next session
              </h3>
              <div class="content">
                <p>Zagulba Mall</p>
                <span>15:20</span>
              </div>
              <h2 class="time">
                1:10:23
              </h2>
              <a class="buttonRed" href="buy-ticket.html">
                BUY NOW
              </a>
            </div>
          </div>
          {{!-- <p class="centerTxt">
            Today in movie theaters
          </p> --}}
        </div>
      </div>
    </div>
  </section>
</body>

</html>