<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- REGISTER --}}
    <section id="register">
        <div class="inner">
            <h1>Login</h1>
            <form action="">
                <div class="inputGroup">
                    <label for="">Phone number or email address</label>
                    <input type="text" placeholder="Number or email">
                </div>
                <div class="inputGroup">
                    <label for="">Password</label>
                    <input type="password" placeholder="************">
                </div>
                <div class="check-agree d-flex align-items-center justify-content-between">
                    <label class="container-checkbox remind-me-label">
                        <input type="checkbox">
                        <span class="checkmark remind-me-span"></span>
                        Remind me
                    </label>
                    <a href="">
                        Forgot password?
                    </a>
                </div>
                <div class="button">
                    <button class="buttonRed">login</button>
                </div>
                <h3>Or log in with</h3>
                <div class="buttons">
                    <a href="" class="fb">
                        <svg viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.95424 10.5409V19H6.53259V10.5409H9.47294L9.94448 6.96255H6.53259V4.47523C6.53259 3.78076 7.0956 3.21775 7.79007 3.21775H10V0H6.91157C4.72599 0 2.95424 1.77175 2.95424 3.95733V6.9625H0V10.5409H2.95424Z"
                                fill="#1976D2" />
                        </svg>
                        <p>Facebook</p>
                    </a>
                    <a href="" class="ge">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.2108 11.4819L3.54944 13.9509L1.13217 14.002C0.409762 12.6621 0 11.1291 0 9.5C0 7.92467 0.383117 6.43911 1.06222 5.13104H1.06274L3.21479 5.52559L4.15751 7.66472C3.9602 8.23995 3.85266 8.85745 3.85266 9.5C3.85273 10.1974 3.97905 10.8655 4.2108 11.4819Z"
                                fill="#FFC107" />
                            <path
                                d="M18.8341 7.72528C18.9432 8.29996 19.0001 8.89345 19.0001 9.5C19.0001 10.1801 18.9286 10.8436 18.7924 11.4835C18.3299 13.6612 17.1215 15.5628 15.4476 16.9084L15.4471 16.9079L12.7364 16.7696L12.3528 14.3748C13.4636 13.7233 14.3316 12.7039 14.7889 11.4835H9.70898V7.72528H14.863H18.8341Z"
                                fill="#2196F3" />
                            <path
                                d="M15.4466 16.9079L15.4471 16.9085C13.819 18.2171 11.7509 19 9.49967 19C5.88184 19 2.73641 16.9779 1.13184 14.0021L4.21047 11.482C5.01273 13.6231 7.07821 15.1473 9.49967 15.1473C10.5405 15.1473 11.5156 14.866 12.3523 14.3748L15.4466 16.9079Z"
                                fill="#4CAF50" />
                            <path
                                d="M15.5641 2.18708L12.4865 4.70666C11.6206 4.16538 10.5969 3.8527 9.50028 3.8527C7.02401 3.8527 4.91991 5.4468 4.15783 7.66472L1.06302 5.13104H1.0625C2.64358 2.08269 5.82868 0 9.50028 0C11.8053 0 13.9188 0.821082 15.5641 2.18708Z"
                                fill="#F44336" />
                        </svg>
                        <p>Google</p>
                    </a>
                </div>
                <p>Not a member? <a href="">Sign up</a></p>
            </form>
        </div>
    </section>

</body>

</html>