<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- PASSWORD CHANGE --}}
    <section id="password-change">
        <div class="contentContainerThird">
            <div class="inner">
                <div class="header">
                    <div class="back-button">
                        <svg viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.71887 11.524L11.9852 17.7804L10.0159 20L0 10L10.0159 0L11.9852 2.2196L5.71887 8.47597H22V11.524H5.71887Z"
                                fill="#566178" />
                        </svg>
                    </div>
                    <h2>Change password</h2>
                </div>
                <form action="" class="body">
                    <div class="inputGroup">
                        <label for="">Old passowrd</label>
                        <input type="password" name="" id="" placeholder="**********">
                    </div>
                    <div class="inputGroup">
                        <label for="">New password</label>
                        <input type="password" name="" id="" placeholder="**********">
                    </div>
                    <div class="inputGroup">
                        <label for="">Confirm new password</label>
                        <input type="password" name="" id="" placeholder="**********">
                    </div>
                    <div class="button">
                        <button class="buttonRed">save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>