<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- REGISTER --}}
    <section id="register">
        <div class="inner inner-sent-email">
            <h1>Sent email</h1>
            <p class="p-first-item">We have sent link to <a href="">hello@labrin.tech</a> <br> to reset your password</p>
            <form action="">
                <h5>Email will be sent within:</h5>
                <div class="timer">
                    <img src="../assets/Timer.svg" alt="">
                    <span>10</span>
                </div>
                <p class="text-center">If you not got any mail <a href="">Resent link</a></p>
            </form>
        </div>
    </section>

</body>

</html>