<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{> section/pop-up-vid-src}}

    {{!-- SOON SECTION--}}
    <section id="soon">
        <div class="container">
            <h1 class="pageTitle">Soon</h1>
            <div class="row">
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
                <div class="col-xl-6 col-mm-8 col-12">
                    {{> section/soon-card}}
                </div>
            </div>
    </section>

</body>

</html>