<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="dark">

    {{> common/header }}

    {{!-- TERMS & CONDITIONS --}}
    <section id="terms-conditions">
        <div class="contentContainerThird">
            <h1 class="pageTitleSecond">Terms & Conditions</h1>
            <div class="row">
                <div class="col-24">
                    {{!-- content --}}
                    <div class="content">
                        <h4>Приветствуем Вас на веб-сайте интернет ресурса "Parkcinema.az"!</h4>
                        <h5>Пожалуйста, ознакомьтесь с Правилами и Условиями пользования сайта «Park Cinema»
                            parkcinema.az (созданным и поддерживаемым «Boston River LP») прежде чем приступить к
                            использованию сайта «parkcinema.az».</h5>
                        {{!-- first --}}
                        <h6>І. Условия и Правила пользования веб-сайтом Parkcinema.az</h6>
                        <ul>
                            <li>1.1. Настоящие Условия и Правила пользования Сайтом «Park Cinema» parkcinema.az (далее -
                                Сайт) разработаны Администрацией Сайта parkcinema.az (далее – Администрация) и
                                определяют условия использования и развития Сайта, а также права и обязанности его
                                Пользователей и Администрации.</li>
                            <li>1.2. Настоящие Условия и Правила (далее – «Правила») являются юридически обязательным
                                соглашением между Пользователем и Администрацией, предметом которого является
                                предоставление Администрацией Пользователю услуг по использованию Сайта, которые
                                регулируют доступ и использование Сайта, что предоставляется «Boston River LP» на
                                следующих условиях:</li>
                            <li>1.2.1. Доступ Пользователя на данный сайт и пользование им выше упомянутого сайта
                                попадают под действие настоящих Правил. Зайдя на Сайт и пользуясь им, Пользователь
                                принимает без ограничений и оговорок юридически обязательное выполнение Правил, которые
                                вступают в силу незамедлительно при первом посещении Пользователем Сайта.</li>
                            <li>В случае несогласия Пользователя выполнять данные Правила Пользователь вправе более не
                                посещать и/или не использовать Сайт.</li>
                            <li>1.2.2 Администрация оставляет за собой право изменять и/или дополнять данные условия в
                                одностороннем порядке в любое время без какого-либо специального уведомления, публикуя
                                изменения на сайте.</li>
                            <li>Настоящие Правила являються открытыми и общедоступным документом. Действующая редакция
                                Правил размещена в сети Интернет по адресу: //www.parkcinema.az/qaydalar-ve-sertler.
                            </li>
                            <li>Администрация настояльно рекомендует регулярно перечитывать данные Правила, чтобы быть в
                                курсе всех изменений, вносимых Администрацией Сайта. В случае если Пользователь
                                продолжает пользоваться Сайтом после публикации изменений в разделе Правила, последний
                                автоматически берет на себя юридическое обязательство выполнять данные Правила со всеми
                                внесенными в них поправками и/или изменениями/дополнениями.</li>
                            <li> 1.2.3. Незнание правил не освобождает от необходимости их выполнения. Размещение
                                Пользователем любого сообщения на сайте автоматически означает его согласие с данными
                                правилами и с необходимостью их соблюдения.</li>
                        </ul>
                        {{!-- second --}}
                        <h6>ІІ. Авторские права и права собственности на контент</h6>
                        <ul>
                            <li>2.1. Настоящий Сайт и все Содержимое сайта, материалы опубликованные на сайте (далее -
                                «Контент») защищены законодательством Азербайджанской Республики, а так же международным
                                законодательством об авторском праве и смежных правах. </li>
                            <li>2.1.1 Права интеллектуальной собственности на Контент: тексты, дизайн, логотипы,
                                графические изображения, пиктограммы, изображения и прочие материалы на данном Сайте
                                являются собственностью «Boston River LP», либо содержатся на Сайте с разрешения
                                соответствующего владельца.</li>
                            <li>2.1.2. Создание ссылок к Сайту приветствуется при таких условиях:</li>
                            <li>1) Пользователь заранее проинформирует Администрацию о каждой ссылке в письменном виде;
                            </li>
                            <li>2) В ссылке не будет содержаться или подразумеваться никаких указаний на то, что "Park
                                Cinema" спонсирует и/или поддерживает сайт Пользователя</li>
                            <li>3)Пользователь немедленно уберет любые ссылки Сайт, по первому требованию Администрации.
                            </li>
                            <li>2.2. Использование Пользователем любого Контента (копирование, публикация и т.п.) без
                                письменного разрешения «Boston River LP» и/или владельца Контента, строго запрещено.
                                «Boston River LP» обеспечит максимальное соблюдение своих прав интеллектуальной
                                собственности, насколько это разрешено законом, включая уголовное преследование</li>
                        </ul>
                        {{!-- third --}}
                        <h6>ІІІ. Содержание и работа сайта</h6>
                        <ul>
                            <li>1.1. Настоящие Условия и Правила пользования Сайтом «Park Cinema» parkcinema.az (далее -
                                Сайт) разработаны Администрацией Сайта parkcinema.az (далее – Администрация) и
                                определяют условия использования и развития Сайта, а также права и обязанности его
                                Пользователей и Администрации.</li>
                            <li>1.2. Настоящие Условия и Правила (далее – «Правила») являются юридически обязательным
                                соглашением между Пользователем и Администрацией, предметом которого является
                                предоставление Администрацией Пользователю услуг по использованию Сайта, которые
                                регулируют доступ и использование Сайта, что предоставляется «Boston River LP» на
                                следующих условиях:</li>
                            <li>1.2.1. Доступ Пользователя на данный сайт и пользование им выше упомянутого сайта
                                попадают под действие настоящих Правил. Зайдя на Сайт и пользуясь им, Пользователь
                                принимает без ограничений и оговорок юридически обязательное выполнение Правил, которые
                                вступают в силу незамедлительно при первом посещении Пользователем Сайта.</li>
                            <li>В случае несогласия Пользователя выполнять данные Правила Пользователь вправе более не
                                посещать и/или не использовать Сайт.</li>
                            <li>1.2.2 Администрация оставляет за собой право изменять и/или дополнять данные условия в
                                одностороннем порядке в любое время без какого-либо специального уведомления, публикуя
                                изменения на сайте.</li>
                            <li>Настоящие Правила являються открытыми и общедоступным документом. Действующая редакция
                                Правил размещена в сети Интернет по адресу: //www.parkcinema.az/qaydalar-ve-sertler.
                            </li>
                            <li>Администрация настояльно рекомендует регулярно перечитывать данные Правила, чтобы быть в
                                курсе всех изменений, вносимых Администрацией Сайта. В случае если Пользователь
                                продолжает пользоваться Сайтом после публикации изменений в разделе Правила, последний
                                автоматически берет на себя юридическое обязательство выполнять данные Правила со всеми
                                внесенными в них поправками и/или изменениями/дополнениями.</li>
                            <li> 1.2.3. Незнание правил не освобождает от необходимости их выполнения. Размещение
                                Пользователем любого сообщения на сайте автоматически означает его согласие с данными
                                правилами и с необходимостью их соблюдения.</li>
                        </ul>
                         {{!-- fourth --}}
                        <h6>IV. Ссылки на другие сайты</h6>
                        <ul>
                            <li>1.1. Настоящие Условия и Правила пользования Сайтом «Park Cinema» parkcinema.az (далее -
                                Сайт) разработаны Администрацией Сайта parkcinema.az (далее – Администрация) и
                                определяют условия использования и развития Сайта, а также права и обязанности его
                                Пользователей и Администрации.</li>
                            <li>1.2. Настоящие Условия и Правила (далее – «Правила») являются юридически обязательным
                                соглашением между Пользователем и Администрацией, предметом которого является
                                предоставление Администрацией Пользователю услуг по использованию Сайта, которые
                                регулируют доступ и использование Сайта, что предоставляется «Boston River LP» на
                                следующих условиях:</li>
                            <li>1.2.1. Доступ Пользователя на данный сайт и пользование им выше упомянутого сайта
                                попадают под действие настоящих Правил. Зайдя на Сайт и пользуясь им, Пользователь
                                принимает без ограничений и оговорок юридически обязательное выполнение Правил, которые
                                вступают в силу незамедлительно при первом посещении Пользователем Сайта.</li>
                            <li>В случае несогласия Пользователя выполнять данные Правила Пользователь вправе более не
                                посещать и/или не использовать Сайт.</li>
                            <li>1.2.2 Администрация оставляет за собой право изменять и/или дополнять данные условия в
                                одностороннем порядке в любое время без какого-либо специального уведомления, публикуя
                                изменения на сайте.</li>
                            <li>Настоящие Правила являються открытыми и общедоступным документом. Действующая редакция
                                Правил размещена в сети Интернет по адресу: //www.parkcinema.az/qaydalar-ve-sertler.
                            </li>
                            <li>Администрация настояльно рекомендует регулярно перечитывать данные Правила, чтобы быть в
                                курсе всех изменений, вносимых Администрацией Сайта. В случае если Пользователь
                                продолжает пользоваться Сайтом после публикации изменений в разделе Правила, последний
                                автоматически берет на себя юридическое обязательство выполнять данные Правила со всеми
                                внесенными в них поправками и/или изменениями/дополнениями.</li>
                            <li> 1.2.3. Незнание правил не освобождает от необходимости их выполнения. Размещение
                                Пользователем любого сообщения на сайте автоматически означает его согласие с данными
                                правилами и с необходимостью их соблюдения.</li>
                        </ul>
                    </div>
                    {{!-- prohibitions --}}
                    <div class="prohibitions">
                        <img src="../assets/image 18.svg" alt="" height="908px">
                    </div>
                    {{!-- about mini nav --}}
                    <div class="aboutMiniNav row">
                        <div class="col-sm-8 col-12">
                            <a href="terms&conditions.html" class="buttonContact">Terms & Conditions</a>
                        </div>
                        <div class="col-sm-8 col-12">
                            <a href="contact.html" class="buttonContact">Contacts</a>
                        </div>
                        <div class="col-sm-8 col-24">
                            <a href="advertising.html" class="buttonContact">Advertising</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>