#password-change {
    .inner {
        background: $dark_30;
        margin: 40px 0;
        height: auto;

        @include max-tablet {
            background: transparent;
            margin: 0;
        }

        //header
        .header {
            display: flex;
            align-items: center;
            padding: 38px 42px;

            @include max-lgDown {
                padding: 20px;
            }

            @include max-lgDown {
                padding: 20px 16px;
            }

            .back-button {
                width: 22px;
                height: 20px;
                cursor: pointer;

                @include max-lgDown {
                    width: 16px;
                    height: 15px;
                }

                &:hover {
                    svg rect {
                        fill: $red_20;
                    }
                }

                &:active,
                &.active {
                    svg rect {
                        fill: $red_10;
                    }
                }

                svg {
                    height: 100%;
                    width: 100%;
                    transition: $tr;
                }
            }

            h2 {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.0015em;
                color: $dark_100;
                margin-left: 15px;

                @include max-lgDown {
                    font-size: 18px;
                }
            }
        }

        //body
        .body {
            padding: 61px 59px 64px 64px;

            @include max-lg {
                padding: 25px;
            }

            @include max-lgDown {
                padding-top: 0;
            }

            @include max-sm {
                padding: 0;
            }

            .inputGroup {
                flex-direction: row;
                justify-content: space-between;
                width: 512px;
                margin-bottom: 64px;

                @include max-lgDown {
                    flex-direction: column;
                    width: 100%;
                }

                @include max-tablet {
                    margin-bottom: 16px;
                }

                input {
                    width: 318px;

                    @include max-lgDown {
                        width: 100%;
                    }

                    @include max-sm {
                       height:40px;
                    }
                }
            }

            .button {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                @include max-sm {
                    position: absolute;
                    bottom: 0;
                    width: 92vw;
                }

                button {
                    width: 172px;
                    height: 48px;

                    @include max-sm {
                        width: 100%;
                        height: 40px;
                    }
                }
            }

        }

    }

}