//COLORS
$dark:#0F1014;
$dark_10:#11151F;
$dark_20: #15141A;
$dark_30:#181D2A;
$dark_40:#242D3F;
$dark_50:#313D55;
$dark_60:#33363D;
$dark_70:#566178;
$dark_80:#696D75;
$dark_90:#9696A3;
$dark_100:#BAC3D4;
$dark_110:#C3C3CB;
$dark_120:#E2EDFF;
$dark_130:#EDEEF9;
$dark_140:#F8F8FA;
$dark_150:#0C150E;
$dark_160:#110E0D;
$dark_170:#0E0C0A;

$brown:#582611;

$red:#D02D2D;
$red_10:#EC4E4E;
$red_20: #EE9999;
$red_30:#F14434;


$success:#51D26E;
$error: #DF8383;

$fb:#1976D2;

$blue:#2B5AAB;
$blue_10:#94BCFF;
$blue_20:#0E52C8;
$blue_30:#18243D;
$blue_40:#6FACEB;
$blue_50:#053486;
$blue_60:#0E52C8;

$green:#2C8F42;
$green_10:#92D0A0;
$green_20:#1EBC41;
$green_30:#192B1D;
$green_40:#F0FDF3;
$green_50:#006817;

$tomato:#C24F4B;
$tomato_10:#F0A6A3;
$tomato_20:#332221;
$tomato_30:#FFF3F2;
$tomato_40: #780F0C;
$tomato_50:#EC534E;

$orange:#BF832A;
$orange_10:#F2C27A;
$orange_20:#272117;
$orange_30: #FFF9F1;
$orange_40:#824E00;
$orange_50:#FF9900;

//TRANSITION
$tr:.4s;