<a href="campaign.html" class="campaignsCard">
    <div class="topCard">
        <img src="../assets/image 23.png" alt="">
    </div>
    <div class="bottomCard">
        <h3>Ulduzum</h3>
        <p>All cinemas</p>
        <span>Permanet</span>
    </div>
</a>