<div class="combo-menu-card">
    <div class="top-side-card">
        <img src="../assets/eatthird.svg" alt="">
    </div>
    <div class="center-side-card">
        <h6>Popcorn combo!</h6>
        <p>Small Popcorn, soda (cola, fanta, sprite) 0.3</p>
        <h6>4.50 AZN</h6>
    </div>
    <div class="bottom-side-card">
        <div class="number">
            <span class="minus">-</span>
            <input type="text" value="1" disabled />
            <span class="plus">+</span>
        </div>
    </div>
</div>