<div class="imaxAboutCard">
    <div class="topImaxAboutCard">
        <img src="../assets/Soun Waves.svg" alt="">
    </div>
    <div class="bottomImaxAbotCard">
        <h3>
            Amazing purity of sound.
        </h3>
        <p>The sound is unmatched part of the technology. Its depth makes a film like penetrating inside. Each filmgoer
            feels what is happening on the screen with his body, he lives in the created world. This effect is achieved
            also owing to the patentedhigh power speaker system. Another indicator of super sound quality - is a wide
            frequency response. This implies the use of higher and very low frequencies, so it can be called vibrations.
            The peculiarity of the sound also depends on the listening environment, so the IMAX company hasa patent on a
            particular geometry of the hall. Also the sound track is better thanks to improved process of digitally
            remastering. Sound is configured in such a way that when you are in a cinema, you enjoy its dynamism,
            purity, brightness and clarity.</p>
    </div>
</div>