<div class="menuCard">
    <div class="leftSideCard">
        <img src="../assets/image 9.png" alt="">
    </div>
    <div class="rightSideCard">
        <h3>Popcorn combo!</h3>
        <span class="price">4.50 AZN</span>
        <div class="p-items">
            <p>Big Popcorn</p>
            <p>Soda</p>
        </div>
        <span class="second-span">(cola, fanta, sprite) 0.3</span>
        {{!-- LIST (HIDDEN) --}}
        {{!-- <ul>
            <li>
                <span>2x</span>
                <p>Nachos</p>
            </li>
            <li>
                <span>2x</span>
                <p>Nachos</p>
            </li>
            <li>
                <span>2x</span>
                <p>Nachos</p>
            </li>
            <li>
                <span>2x</span>
                <p>Nachos</p>
            </li>
        </ul> --}}
    </div>
</div>