 <div class="popUpVidSrc">
     <div class="modalVidSrc">
         <div class="popUpHeader">
             <div class="left-side-p-header">
                 <p>Disnets’s Artemis Fowl – Teaser Trailer</p>
             </div>
             <div class="right-side-p-header">
                 <div id="times">
                     <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <rect x="1.77783" width="20.1132" height="2.51415" transform="rotate(45 1.77783 0)" />
                         <rect y="14.2219" width="20.1132" height="2.51416" transform="rotate(-45 0 14.2219)" />
                     </svg>
                 </div>
             </div>
         </div>
         <div class="vidContainer">
             <iframe src="" frameborder="0"></iframe>
         </div>
         <div class="popUpContent">
             <div class="leftSidePopUp">
                 <div class="line">
                     <h2 class="miniTitle">
                         Artemis Fowl
                     </h2>
                     <img src="../assets/Age limit badge.svg" alt="" class="ageLimit">
                 </div>
                 <div class="line">
                     <div class="formatLangSub">
                         <div class="left-side">
                             <div class="line">
                                 <img src="../assets/Format-white.svg" alt="">
                                 <p>Format</p>
                             </div>
                             <div class="line">
                                 <img src="../assets/lang-white.svg" alt="">
                                 <p>Language</p>
                             </div>
                             <div class="line">
                                 <img src="../assets/Subtitle-white.svg" alt="">
                                 <p>Subtitle</p>
                             </div>
                         </div>
                         <div class="right-side">
                             <div class="line">
                                 <span>2D</span>
                                 <span>3D</span>
                                 <span>IMAX</span>
                                 <span>DOBLY</span>
                                 <span>LASER</span>
                             </div>
                             <div class="line">
                                 <span>AZE</span>
                                 <span>RUS</span>
                                 <span>TURK</span>
                             </div>
                             <div class="line flex-row">
                                 <span>2D</span>
                                 <span>3D</span>
                                 <span>IMAX</span>
                                 <span>DOBLY</span>
                                 <span>LASER</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="line">
                     <button class="buttonNormal">
                         <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                             <path
                                 d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.9 22 12 22ZM18 16V11C18 7.93 16.37 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.64 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16ZM16 17H8V11C8 8.52 9.51 6.5 12 6.5C14.49 6.5 16 8.52 16 11V17Z"
                                 fill="#BAC3D4"></path>
                         </svg>
                         <p>REMIND ME</p>
                     </button>
                     <button class="buttonRed">
                         PRE - SALE
                     </button>
                 </div>
                 <div class="line">
                     <h3>About</h3>
                     <p class="aboutPItem">
                         Artemis Fowl II, a young Irish criminal mastermind, kidnaps the fairy LEPrecon officer Holly
                         Short for ransom to fund the search for his missing father in order to restore the family
                         fortune.
                     </p>
                 </div>
             </div>
             <div class="rightSidePopUp">
                 <table class="table">
                     <thead>
                         <tr>
                             <th scope="col">Rating</th>
                             <td scope="col">8,6</td>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <th scope="row">Country</th>
                             <td>USA</td>
                         </tr>
                         <tr>
                             <th scope="row">Director</th>
                             <td>Kenneth Branagh</td>
                         </tr>
                         <tr>
                             <th scope="row">Genre</th>
                             <td>fantasy, family, adventure</td>
                         </tr>
                         <tr>
                             <th>Actors</th>
                             <td>Judi Dench, Josh Gad, Nonso Anozie, Miranda Raison, Hong Chau, Taylor James, Ferdia
                                 Shaw, Adrian Scarborough, Simone Kirby Lara McDonnell</td>
                         </tr>
                         <tr>
                             <th>Duration</th>
                             <td>02:00:00</td>
                         </tr>
                         <tr>
                             <th>Age limit</th>
                             <td>12 +</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
     {{!-- overlay pop up --}}
     {{!-- <div class="overlayPopUpVidSrc"></div> --}}
 </div>