<section id="quickBuy">
    <div class="quickBuyModal">
        <div class="miniHeader">
            <h2>Quick buy</h2>
            <div class="closeQuickBuy">
                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2.22217" width="25.1415" height="3.14269" transform="rotate(45 2.22217 0)"
                        fill="#566178" />
                    <rect y="17.7772" width="25.1416" height="3.14269" transform="rotate(-45 0 17.7772)"
                        fill="#566178" />
                </svg>
            </div>
        </div>
        <div class="cinemas">
            <h3 class="quickBuySideTitles">Cinemas</h3>
            <div class="cinemasItems">
                <div class="checkbox-wrapper">
                    <div class="topChecks">
                        <div class="form-check flame-towers">
                            <input class="form-check-input" type="radio" name="cinemas" id="flame-towers"
                                value="flame-towers">
                            <label class="form-check-label blue" for="flame-towers">
                                FLAME TOWERS
                            </label>
                        </div>

                        <div class="form-check park-bulvar">
                            <input class="form-check-input" type="radio" name="cinemas" id="park-bulvar"
                                value="park-bulvar" checked>
                            <label class="form-check-label tomato" for="park-bulvar">
                                PARK BULVAR
                            </label>
                        </div>
                    </div>

                    <div class="bottomChecks">
                        <div class="form-check metro-park">
                            <input class="form-check-input" type="radio" name="cinemas" id="metro-park"
                                value="metro-park">
                            <label class="form-check-label green" for="metro-park">
                                METRO PARK
                            </label>
                        </div>

                        <div class="form-check zagulba-mall">
                            <input class="form-check-input" type="radio" name="cinemas" id="zagulba-mall"
                                value="zagulba-mall">
                            <label class="form-check-label orange" for="zagulba-mall">
                                ZAGULBA MALL
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="movies">
            <h3 class="quickBuySideTitles">Movies</h3>
            <div class="languageSelect">
                <div class="items-top-footer drop-down-key">
                    <div class="inner-items-top-footer">
                        <p>All movies</p>
                        <svg viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 1.50416L1.27593 0L7.5 5.39074L13.7241 0L15 1.50416L7.5 8L0 1.50416Z" />
                        </svg>
                    </div>
                </div>
                <div class="drop-down-language">
                    <ul class="dropdownUl">
                        <li class="active" data-id="">
                            All movies
                        </li>
                        <li data-id="">
                            All movies All movies
                        </li>
                        <li data-id="">
                            All movies
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="date">
            <h3 class="quickBuySideTitles">Date</h3>
            <div id="dateQuickBuy" class="dateInner">
                <div class="owl-carousel owl-theme">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d1" value="1" checked>
                        <label class="form-check-label" for="d1">
                            <p>Today</p>
                            <span>DAY</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d2" value="2">
                        <label class="form-check-label" for="d2">
                            <p>Mar 20</p>
                            <span>DAY</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d3" value="3">
                        <label class="form-check-label" for="d3">
                            <p>Mar 21</p>
                            <span>DAY</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d4" value="4">
                        <label class="form-check-label" for="d4">
                            <p>Mar 22</p>
                            <span>DAY</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d5" value="5">
                        <label class="form-check-label" for="d5">
                            <p>Mar 23</p>
                            <span>DAY</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d55" value="5">
                        <label class="form-check-label" for="d55">
                            <p>Mar 24</p>
                            <span>DAY</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="session">
            <h3 class="quickBuySideTitles">Session</h3>
            <div id="sessionInner">
                <div class="sessionBar desk-version">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d6" value="1" checked>
                        <label class="form-check-label" for="d6">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d7" value="2">
                        <label class="form-check-label" for="d7">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d8" value="3">
                        <label class="form-check-label" for="d8">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d9" value="4">
                        <label class="form-check-label" for="d9">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d10" value="5">
                        <label class="form-check-label" for="d10">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>
                </div>
                <div class="sessionBar desk-version">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d12" value="2">
                        <label class="form-check-label" for="d12">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d13" value="3">
                        <label class="form-check-label" for="d13">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d14" value="4">
                        <label class="form-check-label" for="d14">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d15" value="5">
                        <label class="form-check-label" for="d15">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>
                </div>
                <div id="mobileSession">
                    <div class="owl-carousel">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d6" value="1" checked>
                            <label class="form-check-label" for="d6">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d7" value="2">
                            <label class="form-check-label" for="d7">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d8" value="3">
                            <label class="form-check-label" for="d8">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d9" value="4">
                            <label class="form-check-label" for="d9">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d10" value="5">
                            <label class="form-check-label" for="d10">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                            <label class="form-check-label" for="d11">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d12" value="2">
                            <label class="form-check-label" for="d12">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d13" value="3">
                            <label class="form-check-label" for="d13">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d14" value="4">
                            <label class="form-check-label" for="d14">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="movie-date" id="d15" value="5">
                            <label class="form-check-label" for="d15">
                                <p>16:00</p>
                                <span>RUS 2D</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnContinue">
            <button class="buttonRed">
                <p>CONTINUE</p>
                <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.3007 6.04748L6.38427 2.13725L7.61507 0.75L13.875 7L7.61506 13.25L6.38427 11.8627L10.3007 7.95252L0.124999 7.95252L0.124999 6.04748L10.3007 6.04748Z"
                        fill="#E2EDFF" />
                </svg>
            </button>
        </div>
    </div>
</section>