<div class="scheduleCard">
    <div class="titleScheduleCard">
        <h3>Fast and Furious</h3>
        <span>12+</span>
    </div>
    <div class="innerCard">
        <div class="posterScheduleCard">
            <img src="../assets/posterschedule.svg" alt="">
        </div>
        <div class="schedule">
            <div id="sessionInner">
                <div class="sessionBar desk-version">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d12" value="2">
                        <label class="form-check-label" for="d12">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d13" value="3">
                        <label class="form-check-label" for="d13">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d14" value="4">
                        <label class="form-check-label" for="d14">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d15" value="5">
                        <label class="form-check-label" for="d15">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d11" value="1" checked>
                        <label class="form-check-label" for="d11">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d12" value="2">
                        <label class="form-check-label" for="d12">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d13" value="3">
                        <label class="form-check-label" for="d13">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d14" value="4">
                        <label class="form-check-label" for="d14">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="movie-date" id="d15" value="5">
                        <label class="form-check-label" for="d15">
                            <p>16:00</p>
                            <span>RUS 2D</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="toggleSchedule">
                <div class="inner">
                    <img src="../assets/Line 2.svg" alt="">
                </div>
            </div>
        </div>
    </div>
     <div class="titleScheduleCardMobile">
        <div class="top">
            <h3>Fast and Furious</h3>
        <span>12+</span>
        </div>
        <div class="bottom">
            <p>fantasy, family, adventure</p>
        </div>
    </div>
</div>