<div class="soonCard">
    <div class="posterContainer">
        <img src="../assets/Ward.svg" alt="">
        <div class="overlayPosterCell">
            <div class="cellArea">
                <div class="cellPostersoon">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.9 22 12 22ZM18 16V11C18 7.93 16.37 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.64 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16ZM16 17H8V11C8 8.52 9.51 6.5 12 6.5C14.49 6.5 16 8.52 16 11V17Z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="overlayPoster">
            <div class="posterInnerArea">
                <div class="posterPlayIcon">
                    <div class="playButtonPoster">
                        <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_b)">
                                <circle cx="50" cy="50" r="40" fill-opacity="0.12" />
                            </g>
                            <path
                                d="M67.4432 49.5123C67.936 49.8268 67.936 50.5465 67.4432 50.8611L41.2303 67.5881C40.6978 67.9279 40 67.5454 40 66.9137L40 33.4596C40 32.8279 40.6978 32.4454 41.2304 32.7852L67.4432 49.5123Z" />
                            <defs>
                                <filter id="filter0_b" x="2" y="2" width="96" height="96" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feGaussianBlur in="BackgroundImage" stdDeviation="4" />
                                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur"
                                        result="shape" />
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="posterButtons">
                    <button class="buttonNormal">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.9 22 12 22ZM18 16V11C18 7.93 16.37 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.64 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16ZM16 17H8V11C8 8.52 9.51 6.5 12 6.5C14.49 6.5 16 8.52 16 11V17Z"
                                fill="#BAC3D4"></path>
                        </svg>
                        <p>REMIND ME</p>
                    </button>
                    <button class="buttonRed">
                        PRE - SALE
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="trailer">
        <svg viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.4045 5.49416C9.775 5.72993 9.775 6.27078 9.4045 6.50655L1.22207 11.7135C0.82264 11.9677 0.29995 11.6808 0.29995 11.2073L0.299951 0.793356C0.299951 0.319902 0.822641 0.0329731 1.22208 0.287159L9.4045 5.49416Z"
                fill="white" />
        </svg>
        <p>TRAILER</p>
    </div>
    <div class="contentSoonCard">
        <div class="nameMovideCard">
            <p>Onward</p>
            <span>6+</span>
        </div>
        <span>In cinemas 5 March</span>
    </div>
</div>