<div class="ticket-card">
    <div class="top-side">
        <div class="top-side-img">
            <img src="../assets/Group.svg" alt="">
        </div>
        <div class="mobile-content">
            <h6>Adults – 7.80 AZN</h6>
            <p>Maximum 10 tickets</p>
        </div>
    </div>
    <div class="bottom-side">
        <h6>Adults – 7.80 AZN</h6>
        <p>Maximum 10 tickets</p>

        <div class="inner">
            <span>0 AZN</span>
            <div class="ticket-dropdown">
                <div class="items-top-footer drop-down-key">
                    <div class="inner-items-top-footer">
                        <p>0</p>
                        <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 1.12812L1.02074 0L6 4.04306L10.9793 0L12 1.12812L6 6L0 1.12812Z" fill="#9696A3" />
                        </svg>
                    </div>
                </div>
                <div class="drop-down-language light-drop-down">
                    <ul>
                        <li data-id="1">
                            1
                        </li>
                        <li data-id="2">
                            2
                        </li>
                        <li data-id="3">
                            3
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>