<div class="watched-card">
    <div class="poster">
        <img src="../assets/Ward.svg" alt="">
        <div class="overlay-poster">
            <div class="inner">
                <p>watched</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="line">
            <h4>Onward</h4>
            <span>6+</span>
        </div>
        <p>2 mart 2020 </p>
    </div>
</div>