<div class="watch-later-card">
    <div class="poster">
        <img src="../assets/Artemis.svg" alt="">
        <div class="overlay-poster">
            <div class="inner">
                <img src="../assets/Group 336.svg" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="line">
            <h4>Artemis Fowl</h4>
            <span>12+</span>
        </div>
        <p>2 mart 2020 </p>
    </div>
</div>