.imaxAboutCard {
    @include max-lg {
        margin-bottom: 30px;
    }

    .topImaxAboutCard {
        width: 102px;
        height: 72px;
        margin-bottom: 40px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .bottomImaxAbotCard {
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.001em;
            color: $blue_40;
            margin-bottom: 20px;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.005em;
            color: $dark_100;
            width: 362px;

            @include max-lgUp {
                width: 300px;
            }

            @include max-lgUp {
                width: 100%;
            }

            @include max-tablet {
                font-size: 14px;
            }
        }
    }
}