 {{> section/quick-buy}}
 {{> section/menu}}

 <header>
     <div class="container-fluid">
         {{!-- TOP HEADER --}}
         <div class="top-header">
             <div class="left-side">
                 <button id="toggleMenu">
                     <span></span>
                     <span></span>
                     <span></span>
                 </button>
                 <div class="logo">
                     <a href="index.html"><img src="../assets/Parkcinema 1.svg" alt=""></a>
                 </div>
             </div>
             <div class="center-side">
                 <div class="items">
                     <a href="schedule.html">SCHEDULE</a>
                     <a href="soon.html">SOON</a>
                 </div>
             </div>
             <div class="right-side">
                 <button id="quickBuyBtn" class="buttonOutline">
                     QUICK BUY
                 </button>
                 <div class="headerIcons">
                     {{!-- bell --}}
                     <a href="" class="header-icons-item">
                         <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                             <path
                                 d="M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.9 22 12 22ZM18 16V11C18 7.93 16.37 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.64 5.36 6 7.92 6 11V16L4 18V19H20V18L18 16ZM16 17H8V11C8 8.52 9.51 6.5 12 6.5C14.49 6.5 16 8.52 16 11V17Z"
                                 fill="#BAC3D4" />
                         </svg>
                     </a>
                     {{!-- user --}}
                     <a href="" class="header-icons-item d-none">
                         <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                             <path
                                 d="M12 5.9C13.16 5.9 14.1 6.84 14.1 8C14.1 9.16 13.16 10.1 12 10.1C10.84 10.1 9.9 9.16 9.9 8C9.9 6.84 10.84 5.9 12 5.9ZM12 14.9C14.97 14.9 18.1 16.36 18.1 17V18.1H5.9V17C5.9 16.36 9.03 14.9 12 14.9ZM12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM12 13C9.33 13 4 14.34 4 17V20H20V17C20 14.34 14.67 13 12 13Z"
                                 fill="#BAC3D4" />
                         </svg>
                     </a>
                     {{!-- profile --}}
                     <div class="profile-items">
                         <div class="profile-popUp">
                             <div class="user-avatar">
                                 <img src="../assets/agZwx4nb_400x400.jpg" alt="">
                             </div>
                             <p class="name">Tahmina</p>
                         </div>
                         {{!-- user pop up --}}
                         <div class="user-popUp">
                             <div class="top-sect">
                                 <div class="user-avatar-popUp">
                                     <img src="../assets/agZwx4nb_400x400.jpg" alt="">
                                 </div>
                                 <div class="content">
                                     <p class="name">Tahmina Bagirova</p>
                                     <p class="email">tahmina@labrin.tech</p>
                                 </div>
                             </div>
                             <div class="center-sect">
                                 <a href="profile.html">Profile</a>
                                 <a href="profile.html">Watch Later</a>
                                 <a href="edit-profile.html">Edit profile</a>
                             </div>
                             <div class="bottom-sect">
                                 <div class="log-out-parent">
                                     <div class="log-out">
                                         <svg viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path fill-rule="evenodd" clip-rule="evenodd"
                                                 d="M19.1156 0.5H5.89579C5.41616 0.5 5.01147 0.905 5.01147 1.385V5.27H6.78011V2.27H18.2463V21.215H6.78011V18.215H5.01147V22.1C5.01147 22.595 5.41616 23 5.89579 23H19.1156C19.5953 23 19.9999 22.595 19.9999 22.115V1.385C19.9999 0.905 19.6102 0.5 19.1156 0.5Z" />
                                             <path fill-rule="evenodd" clip-rule="evenodd"
                                                 d="M4.21714 12.59H12.4908V10.91H4.21714L6.36049 9.125L5.01153 8L0.5 11.75L5.01153 15.5L6.36049 14.375L4.21714 12.59Z" />
                                         </svg>
                                         <p>Log out</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="languageSelect">
                     <div class="items-top-footer drop-down-key">
                         <div class="inner-items-top-footer">
                             <p>EN</p>
                             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="255px" height="255px"
                                 viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
                                 <g>
                                     <g id="arrow-drop-down">
                                         <polygon points="0,63.75 127.5,191.25 255,63.75" />
                                     </g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                             </svg>
                         </div>
                     </div>
                     <div class="drop-down-language">
                         <ul>
                             <li data-id="en">
                                 EN
                             </li>
                             <li data-id="az">
                                 AZ
                             </li>
                             <li data-id="ru">
                                 РУ
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
         {{!-- BOTTOM HEADER --}}
         <div class="row bottom-header">
             <div class="col-24 center-side">
                 <div class="items">
                     <a href="schedule.html">SCHEDULE</a>
                     <a href="soon.html">SOON</a>
                 </div>
             </div>
         </div>
     </div>
 </header>